:root{
    --bg: #EEE9E6;
    --green: #0A6608;
    --font-1: 'Futura Bk BT', Arial, Helvetica, sans-serif;
    --font-2: 'Palatino', Georgia, 'Times New Roman', Times, serif; 
    --links-color-active: black;
    --links-color-inactive: #6D6D6D;
    /* burger variabvbles */
    --burger-color: #6D6D6D;
    --angle-rotation: 0deg;
    --translate-value: 0px;
}